.margin {
          width: 92%;
          height: 50%;
          margin: auto;
          border: 1px solid white;
          padding:50px;
     }
     a:link {
         color: white;
         background-color: transparent;
         text-decoration: none;
     }
     a:visited {
         color: red;
         background-color: transparent;
         text-decoration: none;
     }
     a:hover {
         color: red;
         background-color: transparent;
         text-decoration: underline;
     }
     div {
      border-radius: 10px;
     }
     table:hover {
        width:250px;
        height:300px;
        border: none;
        border-radius: 20px;
     }
     .table {
        width:200px;
        height:300px;
        border: none;
        border-radius: 20px;
     }
    #container {height: 100%; width:100%; font-size: 0;}
    #left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
    #left {width: 33%; }
    #middle {width: 33%; }
    #right {width: 34%;}


   .show {display: block;}
   input[type=submit] {
     width: 100%;
     background-color:  #45a049;
     color: black;
     padding: 10px 10px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }
   input[type=button] {
     width: 100%;
     background-color: #45a049;
     color: black;
     padding: 10px 10px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }

   input[type=submit]:hover {
    background-color: #45a049;
  }
   input[type=button]:hover {
    background-color: #45a049;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

