/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#pass {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#password-content {
  display: none; /* Hidden by default */
}

#bowler-limit {
  display: none; /* Hidden by default */
}

#win {
  display: none; /* Hidden by default */
}

#lose {
  display: none; /* Hidden by default */
}

#head {
  display: none; /* Hidden by default */
  color: green;
  align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#tail {
  display: none; /* Hidden by default */
  color: green;
  align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}


#batsman-limit {
  display: none; /* Hidden by default */
}

#email-content {
  display: none; /* Hidden by default */
}
#toss {
  display: none; /* Hidden by default */
}

#created {
  display: none; /* Hidden by default */
}
#updated {
  display: none; /* Hidden by default */
}

#wrongMail {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background: linear-gradient(to top, #dad299, #b0dab9);
  margin: auto;
  padding: 15px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 5px;
}

.toss-content {
  background: linear-gradient(to top, #dad299, #b0dab9);
  margin: auto;
  padding: 15px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 5px;
}

/* The Close Button */
.cancel {
  color: red;
  align: center;
  font-size: 20px;
  font-weight: bold;
}

.cancel:hover,
.cancel:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: red;
  align: center;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ok {
  color: green;
  align: center;
  font-size: 20px;
  font-weight: bold;
}

.ok:hover,
.ok:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.play {
  display: none;
  color: green;
  align: center;
  font-size: 20px;
  font-weight: bold;
}

.play:hover,
.play:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
