 a:visited {
         color: black;
         background-color: transparent;
         text-decoration: none;
     }
     a:hover {
         color: red;
         background-color: transparent;
         text-decoration: underline;
     }
     .table {
        width:1000px;
        height:400px;
        border: none;
        border-radius: 20px;
        box-shadow: 10px 10px 5px grey; 
        background:linear-gradient(to right, #ffefba, #ffffff);
     }
    #container {height: 100%; width:100%; font-size: 0;}
    #home, #left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
    #home {width: 20%; }
    #left {width: 25%; }
    #middle {width: 25%; }
    #right {width: 25%; }
    .dropbtn {
      background-image: linear-gradient(to right, #a8e4e8, #b3e5e4, #bee6e1, #c8e7df, #d2e8df);
      color: black;
      padding: 15px;
      font-size: 16px;
      width: 300px;
      border-radius: 4px;
      cursor: pointer;
    }
    

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-player {
      display: none;
      position: absolute;
      left:20.6%;
      background-image: linear-gradient(to right, #a8e4e8, #b3e5e4, #bee6e1, #c8e7df, #d2e8df);
      min-width: 160px;
      overflow: auto;
      border-radius: 15px;
      cursor: pointer;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-team {
      display: none;
      position: absolute;
      left:45.7%;
      background-image: linear-gradient(to right, #a8e4e8, #b3e5e4, #bee6e1, #c8e7df, #d2e8df);
      min-width: 160px;
      overflow: auto;
      border-radius: 15px;
      cursor: pointer;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-match {
      display: none;
      position: absolute;
      left:71.2%;
      background-image: linear-gradient(to right, #a8e4e8, #b3e5e4, #bee6e1, #c8e7df, #d2e8df);
      min-width: 160px;
      overflow: auto;
      border-radius: 15px;
      cursor: pointer;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

   .dropdown-player a {
     color: green;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }


   .show {display: block;}
   input[type=submit] {
     width: 100%;
     background-image: linear-gradient(to right, #26a7af, #26aeab, #30b4a5, #41ba9d, #54c094);
     color: black;
     padding: 10px 10px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }
   input[type=button] {
     width: 100%;
     background-image: linear-gradient(to right, #26a7af, #26aeab, #30b4a5, #41ba9d, #54c094);
     color: black;
     padding: 10px 10px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }
   .deleteButton {
     background: transparent;
     border: 1px solid #f00;
     border-radius: 2em;
     color: #f00;
     display: inline-block;
     font-size: 15px;
     height: 30px;
     line-height: 2px;
     margin: 0 0 8px;
     padding: 0;
     text-align: center;
     width: 30px;
     cursor: pointer;
     outline: none;
  }
 
  .editButton {
     background: transparent;
     border: 1px solid green;
     border-radius: 2em;
     color: green;
     display: inline-block;
     font-size: 15px;
     height: 30px;
     line-height: 2px;
     margin: 0 0 8px;
     padding: 0;
     text-align: center;
     width: 30px;
     cursor: pointer;
     outline: none;
  }  

   .playButton {
     background: transparent;
     border: black;
     border-radius: 2em;
     color: black;
     display: inline-block;
     font-size: 30px;
     height: 30px;
     line-height: 2px;
     margin: 0 0 8px;
     padding: 0;
     text-align: center;
     width: 30px;
     cursor: pointer;
     outline: none;
  }

   input[type=submit]:hover {
    background-color: #45a049;
  }`
   input[type=button]:hover {
    background-color: #45a049;
  }
  .cards {
      display:inline-block;
      margin:1px;
  }
  .btn {
     width:30px; 
     height:30px; 
     cursor:pointer;
  } 
  #body {
     background:linear-gradient(to bottom, #141E30 20%, #243B55 100%);
  }
  .matchtd {
     text-align:center;
  }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
